/* include fix from r87101 here for older versions */
div.vectorTabs span {
	display: inline-block;
	/* @embed */
	background-image: url(images/tab-break.png);
	background-position: bottom right;
	background-repeat: no-repeat;
}

div.vectorTabs li a {
	background-image: none;
}

#ca-unwatch.icon,
#ca-watch.icon {
	margin-right: 0px;
}

/* icon style */
#ca-wikilove.icon a {
	margin: 0;
	padding: 0;
	outline: none;
	display: block;
	width: 27px;
	/* This hides the text but shows the background image */
	padding-top: 3.1em;
	margin-top: 0;
	/* Only applied in IE6 */
	margin-top: -0.8em !ie;
	height: 0;
	overflow: hidden;
	/* @embed */
	background-image: url(images/heart-icons.png);
}
#ca-wikilove.icon a {
	background-position: 5px 60%;
}
#ca-wikilove.icon a:hover,
#ca-wikilove.icon a:focus {
	background-position: -19px 60%;
}

/* dialog */
#wikiLoveDialog {
	margin: 10px;
}

/* dialog type selection */
#wikiLoveDialog #wlSelectType {
	float: left;
	width: 250px;
}

#wikiLoveDialog #wlSelectType ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#wikiLoveDialog #wlSelectType ul li,
#wikiLoveDialog #wlSelectType a
{
	display: block;
	width: 250px;
	height: 66px;
	padding: 0;
	margin: 0;
	position: relative;
	text-decoration: none;
	outline: none;
}

#wikiLoveDialog #wlSelectType a:hover,
#wikiLoveDialog #wlSelectType a:focus {
	text-decoration:none;
}

/* IGNORED BY IE6 */
#wikiLoveDialog #wlSelectType ul > li,
#wikiLoveDialog #wlSelectType ul li > a {
	display: inline-block;
}

#wikiLoveDialog #wlSelectType a .wlLeftCap,
#wikiLoveDialog #wlSelectType a .wlRightCap {
	padding: 0;
	margin: 0;
	width: 6px;
	height: 66px;
	position: absolute;
	top: 0px;
}

#wikiLoveDialog #wlSelectType a .wlLeftCap,
#wikiLoveDialog #wlSelectType a .wlRightCap,
#wikiLoveDialog #wlSelectType a .wlIconBox {
	/* @embed */
	background-image: url(images/select-sprite.png);
	background-repeat: no-repeat;
}

#wikiLoveDialog #wlSelectType a .wlLeftCap {
	/* @noflip */
	left: 0px;
	background-position: 0px 0px;
}

#wikiLoveDialog #wlSelectType a:hover .wlLeftCap,
#wikiLoveDialog #wlSelectType a:focus .wlLeftCap {
	background-position: -6px 0px;
}

#wikiLoveDialog #wlSelectType a.selected .wlLeftCap {
	background-position: -12px 0px;
}

#wikiLoveDialog #wlSelectType a .wlRightCap {
	/* @noflip */
	right: 0px;
	background-position: -18px 0px;
}

#wikiLoveDialog #wlSelectType a:hover .wlRightCap,
#wikiLoveDialog #wlSelectType a:focus .wlRightCap {
	background-position: -25px 0px;
}

#wikiLoveDialog #wlSelectType a.selected .wlRightCap {
	background-position: -32px 0px;
}

#wikiLoveDialog #wlSelectType a .wlInside {
	padding: 0;
	margin: 0;
	width: 238px;
	height: 66px;
	position: absolute;
	top: 0px;
	left: 6px;
	
	/* @embed */
	background-image: url(images/select-bg-sprite.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;
}

#wikiLoveDialog #wlSelectType a:hover .wlInside,
#wikiLoveDialog #wlSelectType a:focus .wlInside {
	background-position: 0px -66px;
}

#wikiLoveDialog #wlSelectType a.selected .wlInside {
	background-position: 0px -132px;
}

#wikiLoveDialog #wlSelectType a .wlIconBox {
	padding: 0;
	margin: 0;
	width: 53px;
	height: 53px;
	position: absolute;
	left: 0px;
	top: 5px;
	background-position: -42px 0px;
}

#wikiLoveDialog #wlSelectType a .wlIconBox img {
	padding: 0;
	margin: 0;
	width: 53px;
	height: 53px;
	position: absolute:
	top: 0px;
	left: 0px;
}

#wikiLoveDialog #wlSelectType a:hover .wlIconBox,
#wikiLoveDialog #wlSelectType a:focus .wlIconBox {
	background-position: -97px 0px;
}

#wikiLoveDialog #wlSelectType a.selected .wlIconBox {
	background-position: -152px 0px;
}

#wikiLoveDialog #wlSelectType a .wlLinkText {
	padding: 0;
	margin: 0;
	width: 170px;
	height: 53px;
	position: absolute;
	left: 64px;
	top: 5px;
	line-height: 53px;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

#wikiLoveDialog #wlSelectType a .wlNoIcon .wlLinkText {
	left: 3px;
}

/* dialog get started */
#wikiLoveDialog #wlGetStarted {
	float: right;
	width: 380px;
	margin-top: 40px;
	padding-top: 4px;
	padding-left: 70px;
	font-size: 1.1em;
	
	/* @embed */
	background-image: url(images/get-started-ltr.png);
	background-position: top left;
	background-repeat: no-repeat;
}

#wikiLoveDialog #wlGetStarted h2 {
	border: none;
	font-weight: bold;
}

#wikiLoveDialog #wlGetStarted ol {
	margin-left: 1.5em;
}

/* dialog add details */
#wikiLoveDialog #wlAddDetails {
	float: right;
	width: 480px;
	margin-bottom: 5px;
}

#wikiLoveDialog #wlAddDetails label {
	font-weight: bold;
	font-size: 1.1em;
}

#wikiLoveDialog #wlAddDetails .text {
	display: block;
	width: 300px;
}

#wikiLoveDialog #wlAddDetails .wlNote {
	font-weight: light;
	font-size: 0.9em;
	float: right;
	color: #999;
}

#wikiLoveDialog #wlAddDetails textarea {
	resize: none;
}

#wikiLoveDialog .wlSpinner {
	float: right;
	margin-top: 0.9em;
	display: none;
}

/* add details gallery */
#wikiLoveDialog #wlGallery {
	min-height: 40px;
}

#wikiLoveDialog #wlGallery img {
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

#wikiLoveDialog #wlGallery a:hover img,
#wikiLoveDialog #wlGallery a:focus img {
	background-color: #aacfe9;
}

#wikiLoveDialog #wlGallery a.selected img {
	background-color: #f56427;
}

#wikiLoveDialog #wlGallerySpinner {
	position: relative;
}

#wikiLoveDialog #wlGallerySpinner .wlSpinner {
	float: none;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -8px;
	z-index: -1;
}

/* dialog preview */
#wikiLoveDialog #wlPreview {
	float: right;
	width: 480px;
}

#wikiLoveDialog #wlPreview #wlPreviewArea {
	margin-left: 15px;
	width: 465px;
	overflow: auto;
}

#wikiLoveDialog #wlPreview #wlPreviewArea .editsection {
	display: none;
}

/* dialog misc */
#wikiLoveDialog input[type=text],
#wikiLoveDialog textarea,
#wikiLoveDialog select {
	margin: 5px 0px 5px 15px;
	max-width: 460px;
	display: block;
}

#wikiLoveDialog #wlSubtypeDescription {
	margin: 5px 0px 8px 15px;
	font-size: 1.0em;
	line-height: 1.2em;
}

#wikiLoveDialog input[type=checkbox] {
	display:inline-box;
	margin: 5px 0px 5px 0px;
}

/* dialog misc */
#wikiLoveDialog input[type=text],
#wikiLoveDialog textarea,
#wikiLoveDialog select {
	margin: 5px 0px 5px 15px;
	max-width: 460px;
	display: block;
}

#wikiLoveDialog select {
	padding: 1px 0;
}

#wikiLoveDialog .submit {
	float: right;
}

#wikiLoveDialog .wlNumber {
	color: white;
	float: left;
	display: block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	margin-right: 5px;
	font-size: 1.5em;
	font-weight: bold;
	
	/* @embed */
	background-image: url(images/number.png);
	background-position: center;
	background-repeat: no-repeat;
}

#wikiLoveDialog .wlError {
	/* @embed */
	background-image: url(images/alert.png);
	background-position: center left;
	background-repeat: no-repeat;
	color: red;
	font-weight: bold;
	line-height: 32px;
	padding-left: 34px;
	padding-bottom: 3px;
}
