div.vectorTabs li#ca-wikilove {
	line-height: 1.4em; /* account for scripts with tall ascenders */
}

/* icon style */
#ca-wikilove.icon a {
	margin: 0;
	padding: 0;
	outline: 0;
	display: block;
	width: 27px;
	/* This hides the text but shows the background image */
	padding-top: 3.1em;
	margin-top: 0;
	height: 0;
	overflow: hidden;
	background-image: url( images/heart-icons-red.png );
	/* SVG support using a transparent gradient to guarantee cross-browser
	* compatibility (browsers able to understand gradient syntax support also SVG) */
	/* @embed */
	background-image: linear-gradient( transparent, transparent ), url( images/heart-icons-red.svg );
}
#ca-wikilove.icon a {
	background-position: 5px 60%;
}
#ca-wikilove.icon a:hover,
#ca-wikilove.icon a:focus {
	background-position: -19px 60%;
}

.client-nojs li#ca-wikilove {
	display: none;
}
